.main-header {
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
    display: grid;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
}

.logo {
    max-width: 150px; /* Adjust as needed */
    height: auto;
}
